#navbar {
  background-color: #52006A;
  padding: 10px 0px;
}

main {
  background-color: #52006A;
}



.section-1 {
  padding: 270px;
  width: 100%;
  height: 100%;
  
}

#section-1-sub-wrapper {
  background-color: #EDD2F3;
  padding: 20px;
  border-radius: 20px;
}
.section-2 {
  padding: 100px;
  width: 100%;
  height: 100%;
}

#skills-segment {
  background-color: #EDD2F3;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}

.skill-headings {
  margin: 10px;
  text-align: center;
}

/* Skill Logos */

.asana {
  background: url("/assets/asanareal-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.bulma {
  background: url("/assets/bulmareal-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.cloudinary {
  background: url("/assets/cloudinary-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;

}
.css3 {
  background: url("/assets/css-removebg-preview\ \(2\).png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.devtools {
  background: url("/assets/devtools-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.django {
  background: url("/assets/djangoreal.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.express {
  background: url("/assets/express-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.figma {
  background: url("/assets/figmareal-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
  
}

.git {
  background: url("/assets/git-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.github {
  background: url("/assets/github-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.html5 {
  background: url("/assets/html-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.insomnia {
  background: url("/assets/imsomnia-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.jamboard {
  background: url("/assets/jamboard-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.js {
  background: url("/assets/js.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.lucidchart {
  background: url("/assets/lc-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.mapbox {
  background: url("/assets/mb-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.mongo {
  background: url("/assets/mongo-removebg-preview\ \(1\).png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.postgresql {
  background: url("/assets/post-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.node {
  background: url("/assets/node-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.python {
  background: url("/assets/python-removebg-preview.png");
  background-size: cover;
  height: 72px;
  background-position: center;
}
.react {
  background: url("/assets/react-removebg-preview.png");
  background-size: cover;
  height: 72px;
  background-position: center;
}
.semantic {
  background: url("/assets/semantic.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.tableplus {
  background: url("/assets/tableplus-removebg-preview.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.trello {
  background: url("/assets/trello-removebg-preview.png");
  background-size: cover;
  height: 72px;
  background-position: center;
}



.section-3 {
  padding: 100px;
  width: 100%;
  height: 100%;
}

#projects-segment, #experience-segment {
  background-color: #EDD2F3;
  border-radius: 10px;
  margin: 5px;
}

.section-4 {
  padding: 100px;
  width: 100%;
  height: 100%;
}


.section-5 {
  padding: 200px;
  width: 100%;
  height: 100%;
}

#contact-segment {
  background-color: #EDD2F3;
  border-radius: 10px;
  margin: 25px auto;
}
}

/* .logo {
  width: 100%;
  height: 100%;
  background-size: cover;
} */

/* #icons-on-contact {
  text-decoration: none;
} */