@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Gloria+Hallelujah&family=Righteous&family=Yatra+One&display=swap');
/* 
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Righteous', cursive;
font-family: 'Yatra One', cursive; 
font-family: 'Cabin', sans-serif;
*/

h1 {
  font-family: 'Righteous', cursive !important;
  color: #B275BF !important;
  font-size: 50px !important;
}

h2 {
  font-family: 'Righteous', cursive !important;
  color: #B275BF !important;
}


h3, h4, h5, h6, p {
  color: #303030;
  font-family: 'Cabin', sans-serif;
}
#navbar {
  background-color: #140018;
  padding: 10px 0px;
  font-family: 'Righteous', cursive !important;

}

main {
  background-color: #140018;
  
}

strong {
  color: #B275BF !important;

}

.section-1 {
  padding: 100px 150px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px){
  .section-1{
    padding-top: 300px;
  }
}

#section-1-sub-wrapper {
  background-color: #EDD2F3;
  padding: 20px;
  border-radius: 20px;
}
.section-2 {
  padding: 100px;
  width: 100%;
  height: 100%;
}

#skills-segment {
  background-color: #EDD2F3;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
}

.skill-headings {
  margin: 10px;
  text-align: center;
}

/* Skill Logos */

.asana {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275875/Portfolio/untitled%20folder/asanareal-removebg-preview_baclis.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.bulma {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275875/Portfolio/untitled%20folder/bulmareal-removebg-preview_txguqi.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.cloudinary {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/cloudinary-removebg-preview_m7nouo.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;

}
.css3 {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/css-removebg-preview_2_wjzqwb.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.devtools {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275873/Portfolio/untitled%20folder/devtools-removebg-preview_l7sajv.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.django {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275873/Portfolio/untitled%20folder/djangoreal_utuz9h.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.express {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275873/Portfolio/untitled%20folder/express-removebg-preview_dqaszz.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.figma {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275873/Portfolio/untitled%20folder/figmareal-removebg-preview_wn3cnb.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
  
}

.git {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275872/Portfolio/untitled%20folder/git-removebg-preview_t7nhpy.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.github {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275872/Portfolio/untitled%20folder/github-removebg-preview_vhgnbd.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.html5 {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/html-removebg-preview_m0igd0.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.insomnia {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275872/Portfolio/untitled%20folder/imsomnia-removebg-preview_gyd0mx.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.jamboard {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275873/Portfolio/untitled%20folder/jamboard-removebg-preview_lhezt4.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.js {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275873/Portfolio/untitled%20folder/js_ukm67s.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.lucidchart {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/lc-removebg-preview_tnyd6i.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.mapbox {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/mb-removebg-preview_en0rqv.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.mongo {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/mongo-removebg-preview_1_qnc2j7.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.postgresql {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/post-removebg-preview_oappti.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.node {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275875/Portfolio/untitled%20folder/node-removebg-preview_m0ihzk.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.python {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275875/Portfolio/untitled%20folder/python-removebg-preview_lphmj1.png");
  background-size: cover;
  height: 72px;
  background-position: center;
}
.react {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275872/Portfolio/untitled%20folder/react-removebg-preview_jra6fd.png");
  background-size: cover;
  height: 72px;
  background-position: center;
}
.semantic {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275872/Portfolio/untitled%20folder/semantic_drk97z.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.tableplus {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275875/Portfolio/untitled%20folder/tableplus-removebg-preview_syoqht.png");
  background-size: contain;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
}
.trello {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275872/Portfolio/untitled%20folder/trello-removebg-preview_krqjxn.png");
  background-size: cover;
  height: 72px;
  background-position: center;
}



.section-3 {
  padding: 100px;
  width: 100%;
  height: 100%;
}

#projects-segment, #experience-segment {
  background-color: #EDD2F3;
  border-radius: 10px;
  margin: 5px;
}

.section-4 {
  padding: 100px;
  width: 100%;
  height: 100%;
}

.ga {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/ga-removebg-preview_w7egcr.png");
  background-size: contain;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.ujia {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275874/Portfolio/untitled%20folder/ujialogo_nzhv4j.png");
  background-size: contain;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.rsy {
  background: url("https://res.cloudinary.com/dwvbpmbul/image/upload/v1642275875/Portfolio/untitled%20folder/rsylogo-removebg-preview_ygds9q.png");
  background-size: contain;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}


.section-5 {
  padding: 200px;
  width: 100%;
  height: 100%;
}

#contact-segment {
  background-color: #EDD2F3;
  border-radius: 10px;
  margin: 25px auto;
}

a {
  text-decoration: none;
  color: black !important;
}

.email:hover {
  text-decoration: underline;
}



