#navbar {
  background-color: #52006A;
  padding: 10px 0px;
}

main {
  background-color: #FFCCD2;
}

.section-1 {
  padding: 270px;
  width: 100%;
  height: 100%;
}
.section-2 {
  padding: 100px;
  width: 100%;
  height: 100%;
}
.section-3 {
  padding: 100px;
  width: 100%;
  height: 100%;
}

.section-4 {
  padding: 100px;
  width: 100%;
  height: 100%;
}

.section-5 {
  padding: 200px;
  width: 100%;
  height: 100%;
}

/* .logo {
  width: 100%;
  height: 100%;
  background-size: cover;
} */

/* #icons-on-contact {
  text-decoration: none;
} */